*.safetensors filter=lfs diff=lfs merge=lfs -text
checkpoint-* filter=lfs diff=lfs merge=lfs -text
checkpoint-*/** filter=lfs diff=lfs merge=lfs -text
goemotions/** filter=lfs diff=lfs merge=lfs -text
